<div class="hero" id="index-hero">
  <h2> WELCOME TO MEOWSPACE</h2>
</div>

<% if @error %>
  <%= @error %>
<% end %>


<% if @message %>
  <%= @message %>
<% end %>

<% if session[:user_id] %>


 Hello <%= session[:user_id].first_name %>



<div id="meow">
  <form method="POST" action="/meow">
    <input type="text" name="message" placeholder="Meow Here">
    <input type="hidden" name="cat" value="<%= session[:user_id].id %> ">
    <input type="submit">
   </form>
</div>

<%else%>
  <a href="/login"> Sign up right MEOW! </a>
<% end %>
<br>
<% Meow.all.each do |meow| %>
  <%= meow.message %> by <%= meow.cat.first_name %> 
  <%if session[:user_id]%>
    <form method="POST" action="/like"> 
      <input type="hidden" name="meow" value="<%= meow.id %>">
      <input type="hidden" name="user" value="<%= session[:user_id].id %>">  
      <input type="submit" value="like"> 
    </form>
  <% end %>
  <br>
<% end %>





